@import "mixin.scss";
@import "media_mixin.scss";

.main-contacts{
    margin-top: 120px;
    &-item{
        @include flex_row();
        align-items: flex-start;
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 180px;
        justify-content: flex-start;
        &__photo{
            padding-right: 120px;
            position: relative;
            &:before{
                @include background_top-light();
                background-image: url(../images/pink-pattern-top.png);
            }
            &:after{
                @include background_bottom-light();
                background-image: url(../images/green-pattern-bottom.png);
            }
            .item-portrait{
                object-fit: cover;
                height: 550px;
                position: relative;
                z-index: 2;
                // width: 401px;
            }
        }
        &-info{
            @include flex_colomn();
            align-items: flex-start;
            padding-top: 60px;
            padding-bottom: 60px;
            max-width: 600px;
            .item-info__logo{
                margin-bottom: 30px;
                height: 30px;
            }
            .main-contacts-item__text{
                @include font(3.5rem, 200, 1.2, #15403d);
                font-family: 'Canela Trial';
                margin-bottom: 30px;
                &-pink{
                    color: #e5745d;
                    &:hover{
                        color: #67a582;;
                    }
                }
            }
            .main-contacts-item-info__button{
                @include button(#15403d, white);
            }
            .main-contacts-item-info__button::after{
                @include button_after(#e5745d,7px,7px,5px,5px);
            }
            .main-contacts-item-info__button::before{
                @include button_before(#e5745d,5px,5px,7px,7px);
            }
            .main-contacts-item-info__button:hover{
                @include button (white, #e5745d);
            }
            .main-contacts-item-info__button:hover::after{
                @include button_after(white,7px,7px,5px,5px);
            }
            .main-contacts-item-info__button:hover::before{
                @include button_before(white,5px,5px,7px,7px);
            }

            &__themes{
                margin-top: 40px;
                @include flex_colomn();
                align-items: flex-start;
                .item-info__themes__title{
                    @include font(0.875rem, 500, 1.2, #e5745d);
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: 2px;
                }
                .item-info__themes__link{
                    @include font(1rem, 400, 1.5, #15403d);
                    padding-bottom: 2px;
                    margin-bottom: 5px;
                    position: relative;
                    &:after{
                        @include link__after();
                    }
                    &:before{
                        @include link__before();
                    }
                }
            }
        }
    }
    &-dark{
        @include flex_row();
        align-items: flex-start;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 80px;
        margin-bottom: 180px;
        position: relative;
        z-index: 1;
        justify-content: space-between;
        &:after{
            position: absolute;
            background-color: #466684;
            top: 0;
            right: 120px;
            width: 100vw;
            z-index: -1;
            content: '';
            bottom: 0;
        }
        &__photo{
            padding-left: 120px;
            position: relative;
            margin-top: -30px;
            &:before{
                @include background_top();
                background-image: url(../images/blue-pattern-top.png);
            }
            &:after{
                @include background_bottom();
                background-image: url(../images/pink-pattern-bottom.png);
            }
            .dark-portrait{
                object-fit: cover;
                height: 550px;
                position: relative;
            }
        }
        &-info{
            @include flex_colomn();
            align-items: flex-start;
            padding-top: 60px;
            padding-bottom: 60px;
            max-width: 600px;
            .main-contacts-dark__text{
                @include font(3.5rem, 200, 1.2, white);
                font-family: 'Canela Trial';
                margin-bottom: 30px;
                &-pink{
                    color: #b5e4c9;
                    &:hover{
                        color: #ffb7a9;
                    }
                }
            }
            .main-contacts-dark-info__button{
                @include button(white, #324f6b);
            }
            .main-contacts-dark-info__button::after{
                @include button_after(#b5e4c9,7px,7px,5px,5px);
            }
            .main-contacts-dark-info__button::before{
                @include button_before(#b5e4c9,5px,5px,7px,7px);
            }
            .main-contacts-dark-info__button:hover{
                @include button (#324f6b, #b5e4c9);
            }
            .main-contacts-dark-info__button:hover::after{
                @include button_after(#324f6b,7px,7px,5px,5px);
            }
            .main-contacts-dark-info__button:hover::before{
                @include button_before(#324f6b,5px,5px,7px,7px);
            }

            &__themes{
                margin-top: 40px;
                @include flex_colomn();
                align-items: flex-start;
                .dark-info__themes__title{
                    @include font(0.875rem, 500, 1.2, #b5e4c9);
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    letter-spacing: 2px;
                }
                .dark-info__themes__link{
                    @include font(1rem, 400, 1.5, white);
                    padding-bottom: 2px;
                    margin-bottom: 5px;
                    position: relative;
                    &:after{
                        @include link__after();
                    }
                    &:before{
                        @include link__before();
                    }
                }
            }
        }
    }
    @include width_1065{
        margin-top: 0;
        .main-contacts-item{
            padding-left: 30px;
            padding-right: 30px;
            &__photo{
                padding-right: 60px;
                padding-left: 20px;
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
                .item-portrait{
                    height: 700px;
                }
            }
            &-info{
                padding-right: 20px;
                .main-contacts-item__text{
                    @include font(3rem, 200, 1.2, #15403d);
                    font-family: 'Canela Trial';
                }
                
            }
        }
        .main-contacts-dark{
            padding-left: 30px;
            padding-right: 30px;
            &:after{
                left: 0;
            }
            &__photo{
                padding-left: 60px;
                padding-right: 20px;
                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                }
                .dark-portrait{
                    height: 700px;
                }
            }
            &-info{
                padding-left: 20px;
                .main-contacts-dark__text{
                    @include font(3rem, 200, 1.2, white);
                    font-family: 'Canela Trial';
                }
            }
        }
    }
    @include width_900{
        padding-left: 30px;
        padding-right: 30px;
        .main-contacts-item{
            flex-direction: column;
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 120px;
            &__photo{
                width: 100%;
                box-sizing: border-box;
                padding-right: 20px;
                padding-left: 20px;
                .item-portrait{
                    width: 100%;
                    z-index: 1;
                }
            }
            &-info{
                max-width: 100%;
                padding: 30px 20px 0 20px;
                position: relative;
                .item-info__logo{
                    position: absolute;
                    content: "";
                    top: -54px;
                    left: 20px;
                    z-index: 2;
                    bottom: 20px;
                    padding-top: 20px;
                    padding-right: 20px;
                    background-color: #fff;
                }
            }
        }
        .main-contacts-dark{
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 120px;
            padding-bottom: 0;
            &:after{
                left: -30px;
            }
            &__photo{
                order: 1;
                width: 100%;
                box-sizing: border-box;
                padding-right: 20px;
                padding-left: 20px;
                .dark-portrait{
                    width: 100%;
                }
            }
            &-info{
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 30px;
                order: 2;
                max-width: 100%;
            }
        }
    }
    @include width_600{
        padding-left: 20px;
        padding-right: 20px;
        .main-contacts-item{
            margin-bottom: 80px;
            &__photo{
                padding: 0;
                .item-portrait{
                    height: 737px;
                }
            }
            &-info{
                padding: 30px 0px 0px 0px;
                .item-info__logo{
                    height: 20px;
                    top: -44px;
                    left: 0;
                }
                .main-contacts-item__text{
                    font-size: 2.5rem;
                }
                .main-contacts-item-info__button{
                    background-color: transparent;
                    padding: 0;
                    @include font(1.25rem, 400, 1.5, #e5745d);
                    letter-spacing: 0px;
                    text-transform: none;
                    border-bottom: 1px solid;
                }
                .main-contacts-item-info__button::after{
                    display: none;
                }
                .main-contacts-item-info__button::before{
                    display: none;
                }
                .main-contacts-item-info__button:hover{
                    background-color: transparent;
                    padding: 0;
                }
                .main-contacts-item-info__button:hover::after{
                    display: none;
                }
                .main-contacts-item-info__button:hover::before{
                    display: none;
                }
            }
        }
        .main-contacts-dark{
            &__photo{
                padding: 0;
                .dark-portrait{
                    height: 737px;
                }
            }
            &-info{
                padding: 30px 0px 40px 0px;
                .main-contacts-dark__text{
                    font-size: 2.5rem;
                }
                .main-contacts-item__text{
                    font-size: 2.5rem;
                }
                .main-contacts-dark-info__button{
                    background-color: transparent;
                    padding: 0;
                    @include font(1.25rem, 400, 1.5, #b5e4c9);
                    letter-spacing: 0px;
                    text-transform: none;
                    border-bottom: 1px solid;
                }
                .main-contacts-dark-info__button::after{
                    display: none;
                }
                .main-contacts-dark-info__button::before{
                    display: none;
                }
                .main-contacts-dark-info__button:hover{
                    background-color: transparent;
                    padding: 0;
                }
                .main-contacts-dark-info__button:hover::after{
                    display: none;
                }
                .main-contacts-dark-info__button:hover::before{
                    display: none;
                }
            }
        }
    }
    @include width_450{
        .main-contacts-dark{
            &__photo{
                .dark-portrait{
                    height: 546px;
                    }
                }
            }
        .main-contacts-item{
            &__photo{
                .item-portrait{
                    height: 546px;
                }
            }
        }
    }
    @include width_320{
        .main-contacts-dark{
            &__photo{
                .dark-portrait{
                    height: 367px;
                    }
                }
            }
        .main-contacts-item{
            &__photo{
                .item-portrait{
                    height: 367px;
                }
            }
        }
    }
}
