@import "mixin.scss";
.footer{
    background-color: #466684;
    padding-right: 30px;
    padding-left: 30px;
    .container{
        padding-bottom: 180px;
        position: relative;
        @include flex_row();
        align-items: flex-start;
        &::before{
            border-bottom-color: #324f6b;
            border-left: 1px solid #324f6b;
            border-right: 1px solid #324f6b;
            border-top-color: #324f6b;
            bottom: 0;
            box-sizing: border-box;
            content: "";
            left: 0;
            position: absolute;
            top: 0;
            width: 3px;
        }
        .footer-info{
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 60px;
            &__title{
                @include font(2.5rem, 200, 1.2, white);
                font-family: 'Canela Trial';
                margin-bottom: 30px;
            }
            &-list{
                list-style-type: none;
                padding-left: 0;
                @include font (1rem, 300, 1.5, white);
                &-item{
                    display: inline-block;
                    &:after{
                    content: ",";
                    margin-right: 5px;
                    }
                    &__link{
                        color: white;
                        border-bottom: 0;
                        padding-bottom: 2px;
                        position: relative;
                        transition: all .3s ease-out;
                        z-index: 0;
                        &:after{
                            @include link__after();
                        }
                        &:before{
                            @include link__before();
                        }
                    }
                }
            }
            .mt-20{
                margin-top: 20px;
            }
            &__link{
                @include font(1rem, 700, 1.5, #b4e2c8);
                margin-top: 20px;
                display: inline-block;
                position: relative;
                &:after{
                    @include link__after();
                }
                &:before{
                    @include link__before();
                }
            }
        }
        .footer-item{
            margin-left: 8.33%;
            padding: 60px 40px 0 40px;
            width: 25%;
            position: relative;
            &::before{
                border-bottom-color: #324f6b;
                border-left: 1px solid #324f6b;
                border-right: 1px solid #324f6b;
                border-top-color: #324f6b;
                bottom: 0;
                box-sizing: border-box;
                content: "";
                left: -3px;
                position: absolute;
                top: 0;
                width: 3px;
            }
            &-title{
                position: absolute;
                right: 100%;
                top: 60px;
                writing-mode: vertical-lr;
                &__text{
                    @include font(.875rem, 500, 1.2, white);
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
            &-info{
                @include flex_colomn();
                align-items: flex-start;
                &-text{
                    @include flex_colomn();
                    align-items: flex-start;
                    margin-bottom: 20px;
                    &__title{
                        @include font(1rem, 500, 1.5, white);
                    }
                    &__subtitle{
                        @include font(1rem, 300, 1.5, white);
                        &-link{
                            @include font(1rem, 300, 1.5, white);
                            position: relative;
                            &:after{
                                @include link__after();
                            }
                            &:before{
                                @include link__before();
                            }
                        }
                    }
                }
            }
        }
        .ml-0{
            margin-left: 0;
        }
    }
}