@import "mixin.scss";
@import "media_mixin.scss";

.main-specialization{
    background-color: #15403d;
    box-shadow: inset 0 -200px 0 #f9f4f1;
    @include flex_colomn();
    justify-content: center;
    margin-bottom: 80px;
    padding-top: 80px;
    &-header{
        @include flex_colomn();
        padding-left: 40px;
        padding-right: 40px;
        //width: calc(1400/3 * 2);
        margin-bottom: 60px;
        .main-specialization__subtitle{
            @include font(1.25rem,400, 1.5, #e5745d);
            margin-bottom: 10px;
            text-align: center;
        }
        .main-specialization__title{
            @include font(3.75rem, 200, 1.2, white);
            font-family: 'Canela Trial';
            text-align: center;
            margin-bottom: 30px;
        }
        .main-specialization__text{
            @include font (1.125rem, 300,1.5, white );
            text-align: center;
            margin-bottom: 30px;
        }
    }
    &-cards{
        @include flex_colomn();
        .specialization-item{
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 40px;
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
            &-link{
                @include flex_row;
                background-color: #fff;
                padding: 80px;
                position: relative;
                box-shadow:  5px 5px 10px rgb(0 0 0 / 10%), 5px 20px 40px rgb(0 0 0 / 20%);
                &:after{
                    @include button_after(#e5745d,20px,20px,22px,22px);
                }
                &:before{
                    @include button_before(#e5745d,22px,22px,20px,20px);
                }
                &__title{
                    @include font(4.375rem, 700, 1.2, #466684);
                    font-family: 'Canela Trial';
                    margin-right: 60px;
                    display: block;
                }
                .specialization-item-info{
                    @include flex_colomn();
                    align-items: flex-start;
                    max-width: 100%;
                    &__text{
                        @include font(1.25rem, 300, 1.5, #41424a);
                        margin-bottom: 30px;
                    }
                    &__subtitle{
                        @include font(1.25rem, 400, 1.5, #e5745d);
                        border-bottom: 1px solid #e5745d;
                    }
                }
            }
        }
    }
    @include width_1065{
        margin-bottom: 60px;
        &-header{
            padding-left: 20px;
            padding-right: 20px;
            width: 83.33%;
            margin: 0 auto 60px auto;
        }
        &-cards{
            align-items: stretch;
            .specialization-item{
                &-link{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    &__title{
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    @include width_768{
        &-header{
            .main-specialization__title{
                font-size: 2.5rem;
            }
        }
        &-cards{
            .specialization-item{
                &-link{
                    padding: 60px;
                    &__title{
                        font-size: 2.5rem;
                    }
                    .specialization-item-info{
                        &__text{
                            font-size: 1.125rem;
                        }
                    }
                }
                
            }
        }
    }
    @include width_600{
        &-cards{
            .specialization-item{
                padding-left: 20px;
                padding-right: 20px;
                &-link{
                    padding: 30px;
                    &:after{
                        @include button_after(#e5745d,5px,5px,7px,7px);
                    }
                    &:before{
                        @include button_before(#e5745d,7px,7px,5px,5px);
                    }
                }
                
            }
        }
    }
}