@import "mixin.scss";
@import "media_mixin.scss";



body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f9f4f1;
}
.flex{
  display: flex;
  justify-content: flex-end;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
.main{
  @include width_768{
    margin-top: 84px;
  }
}
